@import "config";

$maxFormWidth: $maxContentWidth;

// rows
.form-row, .form-action
{
	@include critical
	{
		font-size: 0;
		line-height: 0;
		margin: 0;
		padding: 0 0 20px 0;
		max-width: $maxFormWidth;
	}
	> *
	{
		@include critical
		{
			@include font-size($fontSize);
			@include line-height($fontHeight);
		}
	}
	> label
	{
		@include critical
		{
			display: block;
			@include font-size($fontSize - 1);
			@include line-height($fontHeight - 1);
			padding-bottom: 5px;
		}
	}
}

.form-action
{
	&:not(:first-child)
	{
		@include critical
		{
			padding-top: 10px;
		}
	}
}

// required
.form-required
{
	@include critical
	{
		color: $colorError !important;
		font-family: $fontSimple;
		font-weight: bold;
	}
}

// inputs
.form-text, .form-textarea, .form-select
{
	@include critical
	{
		background: none;
		background-color: $colorWhite;
		@include background-clip();
		border: 2px solid $colorDivider;
		@include border-radius();
		color: $colorGreyDark;
		display: inline-block;
		font-family: $fontSimple;
		@include font-size($fontSize);
		@include line-height($fontHeight);
		margin: 0;
		padding: 8px 10px;
		@include placeholder-text($colorGreyDark);
		@include transition(border .3s);
		vertical-align: middle;
		width: 100%;
		max-width: $maxFormWidth;
	}	
	&:not(:last-child)
	{
		@include critical
		{
			margin-right: 10px;
		}
	}
	&:hover
	{
		@include deferred
		{
			border-color: $colorGreyLight;
		}
	}
	&:focus
	{
		@include deferred
		{
			border-color: $colorGreyDark;
			color: $colorBase;
			@include placeholder-text($colorBase);
		}
	}
	&.disabled, &[disabled]
	{
		@include critical
		{
			background: $colorOffWhite !important;
			border-color: $colorDivider !important;
			color: $colorGrey;
			cursor: not-allowed;
			opacity: .5;
		}
	}
	&.input-validation-error
	{
		@include deferred
		{
			border-color: $colorError;
			color: $colorError;
			@include placeholder-text($colorError);
		}
		&:focus 
		{
			@include deferred
			{
				background-color: $colorWhite;
				border-color: $colorGreyDark;
				color: $colorBase;
				@include placeholder-text($colorBase);
			}
			
		}
	}
	&--small
	{
		@include critical
		{
			@include mq-min($bpTablet)
			{
				width: 30%;
				width: calc(33.3333% - 10px);
			}			
		}
	}
	&--medium
	{
		@include critical
		{
			@include mq-min($bpTablet)
			{
				width: 45%;
				width: calc(50% - 10px);
			}
		}
	}
	&--large
	{
		@include critical
		{
			@include mq-min($bpTablet)
			{
				width: 62%;
				width: calc(66.6666% - 10px);
			}
		}
	}
	&--no-border
	{
		@include critical
		{
			border-color: $colorWhite;
		}		
	}
}

.form-text
{
	@include critical
	{
		-webkit-appearance: none;
	}	
}

.form-textarea
{
	@include critical
	{
		min-height: 100px;
		height: 150px;
		resize: vertical;
		@include mq-min($bpDesktop)
		{
			height: 250px;
		}
	}	
}

.form-select
{
	@include critical
	{
		padding: 9px 6px 10px 6px;
	}
}

// input group
.form-input-group
{
	@include critical
	{
		font-size: 0;
		line-height: 0;
		margin: 0 0 -10px 0;
		@include mq-min($bpTablet)
		{
			margin-left: -10px;
		}		
	}
	.form-text, .form-textarea, .form-select
	{
		@include critical
		{
			margin: 0 0 10px 0;
			@include mq-min($bpTablet)
			{
				margin-left: 10px;
			}			
		}
	}
}

// upload
.form-upload
{
	@include critical
	{
		border: 2px solid $colorDivider;
		@include box-sizing();
		display: inline-block;
		margin: 0;
		padding: 8px 10px;
		vertical-align: middle;
		width: 100%;
		max-width: $maxFormWidth;
	}
	input
	{
		@include deferred
		{
			cursor: pointer;
			display: block;
			margin: 0;
			width: 100%;
		}
	}
	&:not(:last-child)
	{
		@include critical
		{
			margin-right: 10px;
		}
	}
}

// checks / radios
.form-checks
{
	@include critical
	{
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0;
		padding: 0 0 10px 0;
		text-align: left;
		max-width: $maxFormWidth;
	}
	&__item
	{
		@include critical
		{
			@include box-sizing();
			@include font-size($fontSize - 1);
			@include line-height($fontHeight - 1);
			list-style: none;
			margin: 0;
			padding: 0 0 10px 0;
		}
		label
		{
			@include critical
			{
				cursor: pointer;
				display: block;
				@include min-height(15px);
				margin: 0;
				padding: 0 0 0 20px;
				position: relative;
				z-index: 1;
			}			
			input
			{
				@include critical
				{
					left: 0;
					margin: 0;
					padding: 0;
					position: absolute;
					top: 4px;
					z-index: 1;
				}
			}
		}
	}
}

// buttons
.form-button
{
	@include critical
	{
		background: $colorPrimary;
		border: 2px solid $colorPrimary;
		@include border-radius(0);
		color: $colorWhite;
		cursor: pointer;
		display: inline-block;
		@include font-size($fontSize);
		font-weight: 600;
		@include line-height($fontHeight);
		margin: 0;
		padding: 8px 15px;
		text-align: center;
		text-decoration: none;
		@include transition(all .2s);
		@include user-select();
		vertical-align: middle;
		white-space: nowrap;
		min-width: 100px;
	}
	&:not(:last-child)
	{
		@include critical
		{
			margin-right: 10px;
		}		
	}
	&:focus, &:hover
	{
		@include deferred
		{
			background: darken($colorPrimary, 15%);
			border-color: darken($colorPrimary, 15%);
			color: $colorWhite;
			text-decoration: none;
		}
	}
	&:focus
	{
		@include deferred
		{
			outline: 1px dotted $colorBase;
		}
	}
	&.disabled, &[disabled] 
	{
		@include critical
		{
			background: $colorOffWhite !important;
			border-color: $colorOffWhite !important;
			color: $colorGrey !important;
			cursor: not-allowed;
			opacity: .5;
		}		
	}
	&--block
	{
		@include critical
		{
			display: block;
			margin: 0;
			width: 100%;
		}		
	}
	&--success
	{
		@include critical
		{
			background: $colorSuccess;
			border-color: $colorSuccess;
			color: $colorWhite;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSuccess, 15%);
				border-color: darken($colorSuccess, 15%);
				color: $colorWhite;
			}
		}
	}
	&--error
	{
		@include critical
		{
			background: $colorError;
			border-color: $colorError;
			color: $colorWhite;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorError, 15%);
				border-color: darken($colorError, 15%);
				color: $colorWhite;
			}
		}
	}
	&--warning
	{
		@include critical
		{
			background: $colorWarning;
			border-color: $colorWarning;
			color: $colorWhite;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorWarning, 15%);
				border-color: darken($colorWarning, 15%);
				color: $colorWhite;
			}
		}
	}
	&--base
	{
		@include critical
		{
			background: $colorBase;
			border-color: $colorBase;
			color: $colorWhite;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: none;
				border-color: $colorBase;
				color: $colorBase;
			}
		}
	}
	&--text
	{
		@include critical
		{
			background: none;
			border-color: transparent;
			color: $colorPrimary;
			padding-left: 10px;
			padding-right: 10px;
			min-width: unset;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: none;
				border-color: transparent;
				color: $colorBase;
			}
		}
		&.disabled, &[disabled] 
		{
			@include critical
			{
				background: none !important;
				border-color: transparent !important;
				color: $colorGrey !important;
			}			
		}
	}
	&--clear
	{
		@include critical
		{
			background: none;
			border-color: $colorWhite;
			color: $colorWhite;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: $colorWhite;
				border-color: $colorWhite;
				color: $colorBase;
			}
		}
		&.disabled, &[disabled] 
		{
			@include critical
			{
				background: none !important;
				border-color: $colorWhite !important;
				color: $colorWhite !important;
			}			
		}
	}
	&--line
	{
		@include critical
		{
			background: none;
			border-color: $colorPrimary;
			color: $colorPrimary;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: $colorPrimary;
				border-color: $colorPrimary;
				color: $colorWhite;
			}
		}
		&.disabled, &[disabled] 
		{
			@include critical
			{
				background: none !important;
			}			
		}
	}
	&--social
	{
		@include critical
		{
			height: 40px;
			padding: 0;
			min-width: 40px;
		}
		svg
		{
			@include critical
			{
				display: block;
				fill: $colorWhite;
				height: 36px;
				width: 36px;
			}
			&:not(:root)
			{
				@include critical
				{
					overflow: hidden;
				}
			}
		}
	}
	&--facebook
	{
		@include critical
		{
			background: $colorSocialFacebook;
			border-color: $colorSocialFacebook;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialFacebook, 15%);
				border-color: darken($colorSocialFacebook, 15%);
			}
		}
	}
	&--twitter
	{
		@include critical
		{
			background: $colorSocialTwitter;
			border-color: $colorSocialTwitter;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialTwitter, 15%);
				border-color: darken($colorSocialTwitter, 15%);
			}
		}
	}
	&--google-plus
	{
		@include critical
		{
			background: $colorSocialGooglePlus;
			border-color: $colorSocialGooglePlus;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialGooglePlus, 15%);
				border-color: darken($colorSocialGooglePlus, 15%);
			}
		}
	}
	&--linked-in
	{
		@include critical
		{
			background: $colorSocialLinkedIn;
			border-color: $colorSocialLinkedIn;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialLinkedIn, 15%);
				border-color: darken($colorSocialLinkedIn, 15%);
			}
		}
	}
	&--you-tube
	{
		@include critical
		{
			background: $colorSocialYouTube;
			border-color: $colorSocialYouTube;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialYouTube, 15%);
				border-color: darken($colorSocialYouTube, 15%);
			}
		}
	}
	&--instagram
	{
		@include critical
		{
			background: $colorSocialInstagram;
			border-color: $colorSocialInstagram;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialInstagram, 15%);
				border-color: darken($colorSocialInstagram, 15%);
			}
		}
	}
	&--pinterest
	{
		@include critical
		{
			background: $colorSocialPinterest;
			border-color: $colorSocialPinterest;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialPinterest, 15%);
				border-color: darken($colorSocialPinterest, 15%);
			}
		}
	}
	&--vimeo
	{
		@include critical
		{
			background: $colorSocialVimeo;
			border-color: $colorSocialVimeo;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialVimeo, 15%);
				border-color: darken($colorSocialVimeo, 15%);
			}
		}
	}
	&--flickr
	{
		@include critical
		{
			background: $colorSocialFlickr;
			border-color: $colorSocialFlickr;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialFlickr, 15%);
				border-color: darken($colorSocialFlickr, 15%);
			}
		}
	}
	&--rss
	{
		@include critical
		{
			background: $colorSocialRss;
			border-color: $colorSocialRss;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorSocialRss, 15%);
				border-color: darken($colorSocialRss, 15%);
			}
		}
	}
	&--email
	{
		@include critical
		{
			background: $colorGreyDark;
			border-color: $colorGreyDark;
		}
		&:focus, &:hover
		{
			@include deferred
			{
				background: darken($colorGreyDark, 15%);
				border-color: darken($colorGreyDark, 15%);
			}
		}
	}
}

// notices / info
.form
{
	&-notice, &-success, &-error, &-warning
	{
		@include critical
		{
			background: $colorNotice;
			border: 2px solid $colorNotice;
			color: $colorWhite;
			margin: 0 0 20px 0;
			padding: 8px 10px;
		}
		a
		{
			@include critical
			{
				color: $colorWhite;
				text-decoration: underline;
			}
			&:focus, &:hover
			{
				@include critical
				{
					color: $colorWhite;
					text-decoration: none;
				}
			}
			&:focus
			{
				@include critical
				{
					outline-color: $colorWhite;
				}
			}
		}
	}
	&-success
	{
		@include critical
		{
			background: $colorSuccess;
			border-color: $colorSuccess;
		}
	}
	&-error
	{
		@include critical
		{
			background: $colorError;
			border-color: $colorError;
		}
		.form-row &
		{
			@include critical
			{
				background: none;
				border: none;
				color: $colorError;
				display: none;
				@include font-size($fontSize - 2);
				@include line-height($fontHeight - 2);
				margin: 0;
				padding: 5px 0 0 0;
				max-width: $maxFormWidth;
			}	
			a
			{
				@include critical
				{
					color: $colorError;
					text-decoration: underline;
				}
				&:focus, &:hover
				{
					@include critical
					{
						color: $colorError;
						text-decoration: none;
					}
				}
				&:focus
				{
					@include critical
					{
						outline-color: $colorError;
					}
				}
		}	
			&.field-validation-error 
			{
				@include critical
				{
					display: block;
				}				
			}	
		}
	}
	&-warning
	{
		@include critical
		{
			background: $colorWarning;
			border-color: $colorWarning;
		}
	}
	&-info
	{
		@include critical
		{
			color: $colorGrey;
			display: block;
			@include font-size($fontSize - 2);
			@include line-height($fontHeight - 2);
			margin: 0;
			padding: 5px 0 0 0;
			max-width: $maxFormWidth;
		}
		a
		{
			@include critical
			{
				color: $colorGrey;
				text-decoration: underline;
			}
			&:focus, &:hover
			{
				@include critical
				{
					color: $colorGrey;
					text-decoration: none;
				}
			}
			&:focus
			{
				@include critical
				{
					outline-color: $colorGrey;
				}
			}
		}
	}
}