@import "config";

.form-row, .form-action
{
	@include critical
	{
		font-size: 0;
		line-height: 0;
		margin: 0;
		padding: 0 0 15px 0;
	}
	> *
	{
		@include critical
		{
			@include font-size($fontSize);
			@include line-height($fontHeight);
		}
	}
}

.form-action
{
	@include critical
	{
		padding-top: 15px;
	}
}