@import "config";

// visibility
.offscreen
{
	@include critical
	{
		height: 0;
		left: -9999px;
		margin: 0;
		padding: 0;
		position: absolute;
		@include text-hidden();
		width: 0;
		z-index: -1;
	}	
}

.hide
{
	@include critical
	{
		display: none;
	}	
}

.hide-on-mobile
{
	@include critical
	{
		@include mq-max($bpMobileLarge - 1)
		{
			display: none;
		}
	}	
}

.hide-on-mobile-large
{
	@include critical
	{
		@include mq-min($bpMobileLarge)
		{
			@include mq-max($bpTablet - 1)
			{
				display: none;
			}
		}
	}
}

.hide-on-mobile-large-or-smaller
{
	@include critical
	{
		@include mq-max($bpMobileLarge - 1)
		{
			display: none;
		}
	}
}

.hide-on-mobile-large-or-larger
{
	@include critical
	{
		@include mq-min($bpMobileLarge)
		{
			display: none;
		}
	}
}

.hide-on-tablet
{
	@include critical
	{
		@include mq-min($bpTablet)
		{
			@include mq-max($bpTabletLarge - 1)
			{
				display: none;
			}
		}
	}
}

.hide-on-tablet-or-smaller
{
	@include critical
	{
		@include mq-max($bpTablet - 1)
		{
			display: none;
		}
	}
}

.hide-on-tablet-or-larger
{
	@include critical
	{
		@include mq-min($bpTablet)
		{
			display: none;
		}
	}
}

.hide-on-tablet-large
{
	@include critical
	{
		@include mq-min($bpTabletLarge)
		{
			@include mq-max($bpDesktop - 1)
			{
				display: none;
			}
		}
	}
}

.hide-on-tablet-large-or-smaller
{
	@include critical
	{
		@include mq-max($bpTabletLarge - 1)
		{
			display: none;
		}
	}
}

.hide-on-tablet-large-or-larger
{
	@include critical
	{
		@include mq-min($bpTabletLarge)
		{
			display: none;
		}
	}
}

.hide-on-desktop
{
	@include critical
	{
		@include mq-min($bpDesktop)
		{
			@include mq-max($bpDesktopLarge - 1)
			{
				display: none;
			}
		}
	}
}

.hide-on-desktop-or-smaller
{
	@include critical
	{
		@include mq-max($bpDesktop - 1)
		{
			display: none;
		}
	}
}

.hide-on-desktop-or-larger
{
	@include critical
	{
		@include mq-min($bpDesktop)
		{
			display: none;
		}
	}
}

.hide-on-desktop-large
{
	@include critical
	{
		@include mq-min($bpDesktopLarge)
		{
			@include mq-max($bpLarge - 1)
			{
				display: none;
			}
		}
	}
}

.hide-on-desktop-large-or-larger
{
	@include mq-max($bpDesktopLarge - 1)
	{
		@include critical
		{
			display: none;
		}
	}
}

.hide-on-large
{
	@include critical
	{
		@include mq-min($bpLarge)
		{
			display: none;
		}
	}
}

// js
.hide-on-js
{
	.js &
	{
		@include critical
		{
			display: none;
		}
	}
}

.show-on-js
{
	.no-js &
	{
		@include critical
		{
			display: none;
		}
	}
}

// alignment
.align
{
	&-left
	{
		@include critical
		{
			text-align: left;
		}	
	}
	&-right
	{
		@include critical
		{
			text-align: right;
		}	
	}
	&-centre, &-center
	{
		@include critical
		{
			text-align: center;
		}	
	}
	&-justify
	{
		@include critical
		{
			text-align: justify;
		}	
	}
}