@import "../config";

.l-page
{
	@include critical
	{
		background: $colorWhite;
		@include box-shadow();
		margin: 0 auto;
		padding: 15px;
		text-align: left;
		max-width: $maxPageWidth;
	}	
	&__title
	{
		@include critical
		{
			border-bottom: 1px solid $colorDivider;
			@include font-size($fontSize + 5);
			font-weight: 600;
			@include line-height($fontHeight + 5);
			margin-bottom: 15px;
			padding-bottom: 5px;
		}	
	}
}